body {
  background: url(pic3.jpg);
  background-size: 1440px auto;
  background-repeat: no-repeat;
  z-index:1;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
form {
  width: 60%;
  margin: 10px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
  filter: alpha(opacity=90);
}